@font-face {
    font-family: "Tourney";
    src:
        url('../assets/fonts/tourney/tourney-v16-latin-600.woff') format('woff'),
        url('../assets/fonts/tourney/tourney-v16-latin-600.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Staatliches";
    src: url('../assets/fonts/staatliches/staatliches-v15-latin-regular.woff') format('woff'),
        url('../assets/fonts/staatliches/staatliches-v15-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;

}