@font-face {
    font-family: "Tourney";
    src:
        url('../assets/fonts/tourney/tourney-v16-latin-600.woff') format('woff'),
        url('../assets/fonts/tourney/tourney-v16-latin-600.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Staatliches";
    src: url('../assets/fonts/staatliches/staatliches-v15-latin-regular.woff') format('woff'),
        url('../assets/fonts/staatliches/staatliches-v15-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: "Francois One";
    src: url('../assets/fonts/francois_one/francois-one-v22-latin-regular.woff') format('woff'),
        url('../assets/fonts/francois_one/francois-one-v22-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: "Farro";
    src: url('../assets/fonts/farro/farro-v15-latin-300.woff') format('woff'),
        url('../assets/fonts/farro/farro-v15-latin-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;

}


@font-face {
    font-family: "PT Sans";
    src: url('../assets/fonts/pt_sans/pt-sans-v18-latin-regular.woff') format('woff'),
        url('../assets/fonts/pt_sans/pt-sans-v18-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: "PT Sans Italic";
    src: url('../assets/fonts/pt_sans/pt-sans-v18-latin-italic.woff') format('woff'),
        url('../assets/fonts/pt_sans/pt-sans-v18-latin-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: "PT Sans Bold";
    src: url('../assets/fonts/pt_sans/pt-sans-v18-latin-700.woff') format('woff'),
        url('../assets/fonts/pt_sans/pt-sans-v18-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: "Roboto";
    src: url('../assets/fonts/roboto/roboto-v51-latin-600.woff') format('woff'),
        url('..//assets/fonts/roboto/roboto-v51-latin-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}