@import url(./fonts.css);
@import url(./vars.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 200vh;
    font-size: var(--main-font-size);
    font-family: var(--main-font-family);
    color: #000;
    position: relative;
}

.header {
    padding: 13px 0;
    width: 100%;
    position: fixed;
    background: white;
    z-index: 1;
}

.main {
    position: relative;
    padding-top: 150px;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.menu {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    gap: 10px;
    padding-left: 0;
    list-style: none;

}

.menu__item:nth-child(1)::after {
    content: "/";
    font-family: "Staatliches";
}

a {
    color: inherit;
    text-decoration: none;
}


.lang__link {
    font-family: "Tourney";
    font-size: 22px;
}

.menu__link {
    font-family: "Staatliches";
    font-size: 22px;
    text-transform: uppercase;
}


.flex-container {
    display: flex;
    gap: 30px;
}

.aside-menu {
    padding-left: 0;
    list-style: none;
    position: sticky;
    top: 120px;
    width: 385px;
    padding: 8px;
}

.aside-menu__item {
    margin-bottom: 80px;
    position: relative;
}

.aside-menu__item::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 365px;
    height: 1px;
    background: #BDBDBD;
}

.section {
    margin-bottom: 70px;
}

.title,
.aside-menu__link {
    font-family: var(--title-font-family);
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
}

.title::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 100px;
    height: 8px;
    background: #000;
}
.subtitle {
    font-family: "Farro";
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.04em;
    font-weight: lighter;
    text-transform: capitalize;
    position: absolute;
    top: -5px;
    margin-left: 10px;
}

.description {
    line-height: 48px;
    margin-top: 40px;
    font-weight: normal;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-family: "PT Sans Italic";
}

.bold {
    font-family: "PT Sans Bold";
}

.bg {
    background-color: #DADADA;
}