@import url(./fonts.css);
@import url(./vars.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 200vh;
    font-size: var(--main-font-size);
    font-family: var(--main-font-family);
    color: #000;
    position: relative;
}

.header {
    padding: 13px 0;
    width: 100%;
    position: fixed;
    background: white;
    z-index: 1;
}

.main {
    position: relative;
    padding-top: 150px;

}

.bg-main {
    background-image: url(../assets/img/bg-picture.png);
    background-position-x: right;
    background-position-y: 120px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.menu {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    gap: 10px;
    padding-left: 0;
    list-style: none;

}

.menu__item:nth-child(1)::after {
    content: "/";
    font-family: "Staatliches";
}

a {
    color: inherit;
    text-decoration: none;
}


.lang__link {
    font-family: "Tourney";
    font-size: 22px;
}

.menu__link {
    font-family: "Staatliches";
    font-size: 22px;
    text-transform: uppercase;
}


.flex-container {
    display: flex;
    gap: 30px;
}

.aside-menu {
    padding-left: 0;
    list-style: none;
    position: sticky;
    top: 120px;
    width: 385px;
    padding: 8px;
}

.aside-menu__item {
    margin-bottom: 80px;
    position: relative;
}

.aside-menu__item::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 365px;
    height: 1px;
    background: #BDBDBD;
}

.section {
    margin-bottom: 70px;
}

.title,
.aside-menu__link {
    font-family: var(--title-font-family);
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
}

.title::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 100px;
    height: 8px;
    background: #000;
}

.subtitle {
    font-family: "Farro";
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.04em;
    font-weight: lighter;
    text-transform: capitalize;
    position: absolute;
    top: -5px;
    margin-left: 10px;
}

.description {
    line-height: 48px;
    margin-top: 40px;
    font-weight: normal;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-family: "PT Sans Italic";
}

.bold {
    font-family: "PT Sans Bold";
}

.bg {
    background-color: #DADADA;
}

.page-title {
    font-family: "Roboto";
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    font-weight: 600;
    position: relative;
    margin-left: 120px;
    margin-bottom: 40px;
}

.page-title::before {
    content: '';
    position: absolute;
    left: -120px;
    top: 20px;
    width: 100px;
    height: 8px;
    background: #000;
}

.grid-container {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
}

.flip-card {
    background-color: transparent;
    width: 270px;
    height: 180px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #E6E6E6;
    color: black;
}

.flip-card-back {
    background-color: #1A1A1A;
    color: white;
    transform: rotateY(180deg);
}